p{
    margin-bottom: 0 !important;
}
/* Navbar */
.logo{
    object-fit:contain;
    height:2rem;
    margin-left:2em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.navbar-styling{
    border-bottom: 1px solid lightgray;
    background-color: white;
}

.navbar-right-elements{
    display: flex;
    justify-content: space-between;
    margin-right: 2em;
}

.airbnb-home-btn{
    border-radius: 3em !important;
}
.btn.airbnb-home-btn {
  font-weight: 500;
  font-size: 0.9em;
}

.language-btn{
    border-radius: 5em !important;
    margin-right: 0.5em !important;
}

.btn:hover{
    background-color: whitesmoke !important;
}

.profile-btn{
    border: 1px solid lightgray !important;
    border-radius: 5em !important;
}
.profile-btn:hover{
    background-color: transparent !important;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.2) !important;
}
/* Footer */
.footer-left-elements{
  display: flex;
  color: gray;
  font-size: 0.9rem;
}
.footer-link{
  text-decoration: none;
  color: inherit;
  margin-right: 0.6em;
}
.footer-link:hover{
  text-decoration: underline;
}
.footer-space{
  margin-right: 0.5em;
  margin-left: 2em;
}
.footer-styling{
  border-top: 1px solid lightgray;
  background-color: white;
}
.footer-right-elements{
  display: flex;
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
}
.right-space{
  margin-right: 2em;
}
/* Footer End */

/* Search Places List and Filter */
.list-space{
    margin-right: 0.5em;
}
.search-and-filter{
    display: flex;
    /* margin-top: 2em; */
    justify-content: space-between; 
    background-color: white;
    align-items: center;
    margin-left: 2em;
    margin-bottom: 2em;
    margin-right: 2em;
    position: sticky;
    top: 4.75em;
    z-index: 99;
    /* z-index is used to give priority to elements when stacking/overlaying them */

}
.place-list{
    margin-top: 1em;
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    max-width: 90%;
    -ms-overflow-style: none; /*hide scrollbar in edge and ie */
    scrollbar-width: none; /*hide scrollbar in firefox */

}
.place-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar in Chrome, Safari, and Opera */
}
.filter-btn{
    margin-top: 1em;
    border-radius: 0.5em !important;
    border: 1px solid lightgray !important;
    height: 3em !important;
} 
 .filter-btn:hover{
    background-color: transparent !important; 
}
.btn.filter-btn {
  display: flex;
  align-items: center;
}
.a-link{
    text-decoration: none;
    color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.active-place{
    border-bottom: 2px solid black;
    margin-right: 5em;
}
.active-place-text{
    color:black;
    font-size: 0.95rem;
}
.active-place-icon{
    color:black;
}
.place-item{
    margin-right: 5em;
}
.place-item:hover{
    border-bottom:2px solid lightgray;
    .place-icon{
        color:black;
    }
    .place-text{
        color:black;
    } 
}
.place-icon{
    color:gray;
}
.place-text{
    color:gray;
    font-size: 0.95rem;
}

/* Toggle Button */
  .toggle-input-field {
    left: 25%;
    margin-right:2em;
    align-items: center;
    position: relative;
    max-width:45%;

  }

  .form-control{
    height: 4em;
    border-radius: 0.75em !important;
  }
  .form-control:focus {
    box-shadow: none !important;
    border-color: #dee2e6 !important;
  }

  /* Custom CSS for switch-like appearance */
.switch {
    position: absolute;
    display: inline-block;
    width: 3.25em;
    height: 2em;
    right: 0;
    top: 1em;
    bottom: 0;
    z-index: 2;
    margin-right: 0.5em;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4em;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 1.75em;
    width: 1.75em;
    left: 0.05em;
    bottom: 0.15em;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: black;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px black;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(1.25em);
    -ms-transform: translateX(1.25em);
    transform: translateX(1.25em);
  }

  /* Carousel Text Styling */
  .place-desc{
    text-decoration: none;
    color: inherit;
    font-size: 0.9em;
  }

  .title-rating{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5em;
  }
  .rating{
    display: flex;
    justify-content: space-between;
  }
  .desc-text{
    color:gray !important;
  }
  .taxes{
    text-decoration: underline;
    font-weight: 400;
  }
/*Carousel Image Styling  */

.carousel .carousel-control-prev, .carousel .carousel-control-next{
    visibility: hidden;
}

.carousel:hover .carousel-control-prev, .carousel:hover .carousel-control-next{
    visibility: visible;
}

.carousel-indicators{
  margin-bottom: 0 !important;
}

  .carousel-indicators li {
    height: 10px !important;
    width: 10px !important;
    border-radius: 100%;
  }

  li::marker{font-size:0;}
  
  .carousel-item img {     
    /*width:15em;
    object-fit: cover;  */
    border-radius: 1em;
  }

  .nav-arrow{
    font-size: 1.5rem;
  }

  /* Media Queries */
  /* Hide the button when the screen width is less than or equal to 768px */
@media (max-width: 745px) {
  .btn.filter-btn {
    display: none;
  }
  .place-list{
    max-width: 100%; 

}
}


  



  


  
  






